# Node modules
node_modules/

# Build outputs
dist/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local
.env.development
.env.production
server.env
final/.env.*

# Optional npm cache directory
.npm/

# Debug
.vscode/
.idea/

# React Native
android/.gradle/
android/app/build/
ios/Pods/
ios/build/
*.xcworkspace
*.xcodeproj
*.pbxproj

# Testing
coverage/

# Firebase cache
.firebase/

# Misc
*.tgz
*.lock

# Firebase service account
serviceAccountKey.json

# Markdown files with secrets
md/CONTABO_TO_AWS_MIGRATION_COMPLETE.md
md/AWS_S3_SETUP_COMPLETE.md
md/IMAGE_FIX_DEPLOYMENT_GUIDE.md
md/NETLIFY_DEPLOYMENT_COMPLETE.md
serviceAccountKey.json

# Local Netlify folder
.netlify
firebase-service-account.json
